<!DOCTYPE html>
<html ng-app="ebayApp">
<head>
    <title>User Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
            crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/css/bootstrap.css"/>
    <script src="/javascripts/angular.js"></script>
    <script src="/javascripts/angular-route.js"></script>
    <script src="/javascripts/common.js"></script>
    <script src="/javascripts/controllers/homeController.js"></script>
    <script src="/javascripts/controllers/cartController.js"></script>
    <script src="/javascripts/controllers/confirmController.js"></script>
    <script src="/javascripts/common.js"></script>
    <style>
        .navbar-default {
            background-color: #fff;
        }

        .navbar-default .navbar-nav > li {
            background-color: #fff;
        }

        .navbar-default .navbar-nav > li > a {
            color: #333;
            border-bottom: 1px solid transparent;
        }
        .navbar-default .navbar-nav > li > a:hover,
        .navbar-default .navbar-nav > li > a:focus,
        .navbar-default .navbar-nav > .active > a,
        .navbar-default .navbar-nav > .active > a:hover,
        .navbar-default .navbar-nav > .active > a:focus {
            background-color: #fff;
            color: #333;
            border-bottom: 2px solid #555;
        }
        .nav>li{
            padding-left: 50px;
        }
        .searchDropdown{
            background: transparent;
            border: 0;
        }
    </style>
</head>
<body>
<div ng-include="'/views/topHeader.html'"></div>
<div ng-include="'/views/searchBox.html'"></div>
</br>
</br>

<%if(prods != undefined && prods.length >0){%>
<div class="row">
    <h3 class="text-center">Your Order History: </h3>
    <br>
    <div class="col-md-6 col-md-offset-3">
        <%prods.forEach(function (prod){%>
        <div class="row navbar navbar-default">
            <div class="row">
                <div class="product">
                    <div class="col-md-4">
                        <img class="prodImg" src="{{prod.url == undefined ? 'http://news.nicronon.com/assets/backgrounds/photo-default-th.png': product.url}}">
                    </div>
                    <div class=" col-md-6">
                        <br>
                        <a href="http://localhost:4000/shopping/product/<%=prod.id%>" class="prodlink"><%=prod.name%> - <%=prod.description%></a>
                        </br>
                        </br>
                        <div>
                            <strong style="font-size: 20px ;">$ <%=prod.price%></strong>
                        </div>
                        </br>
                        </br>
                        </br>
                    </div>

                </div>
            </div>


            <br/>
        </div>
        <%})%>

    </div>
</div>
<%} else{%>
<h3 class="text-center">You have no order history !</h3>
<%}%>
<br>
<br>
<%if(bids != undefined && bids.length >0){%>
<div class="row">
    <h3 class="text-center">Your Bid History: </h3>
    <br>
    <div class="col-md-6 col-md-offset-3">
        <%bids.forEach(function (bid){%>
        <div class="row navbar navbar-default">
            <div class="row">
                <div class="product">
                    <div class="col-md-4">
                        <img class="prodImg" src="{{bid.url == undefined ? 'http://news.nicronon.com/assets/backgrounds/photo-default-th.png': bid.url}}">
                    </div>
                    <div class=" col-md-6">
                        <br>
                        <a href="http://localhost:4000/shopping/product/<%=bid.productid%>" class="prodlink"><%=bid.name%> - <%=bid.description%></a>
                        </br>
                        </br>
                        <div>
                            <strong style="font-size: 20px ;">$ <%=bid.price%></strong>
                        </div>
                        </br>
                        </br>
                        </br>
                    </div>

                </div>
            </div>


            <br/>
        </div>
        <%})%>

    </div>
</div>
<%} else{%>
<h3 class="text-center">You have no bid history !</h3>
<%}%>
</body>
</html>
